<div>
  <h2>
    Required Field validation
  </h2>
  <form [formGroup]="requiredForm" novalidate>
        <div class="form-group">
          <label class="center-block">Name:
            <input class="form-control" formControlName="name" pattern="^[a-z0-9_-]{8,15}$">
          </label>
        </div>
        <div *ngIf="requiredForm.controls['name'].invalid && requiredForm.controls['name'].touched" class="alert alert-danger">
            <div *ngIf="hasError('name', 'required')">
            Name is required.
          </div>
        </div>
  </form>
<p>Form value: {{ requiredForm.value | json }}</p>
<p>Form status: {{ requiredForm.status | json }}</p>
</div>
